git+https://github.com/botswana-harvard/ambition-labs.git@develop#egg=ambition_labs
git+https://github.com/botswana-harvard/ambition-reference.git@develop#egg=ambition_reference
git+https://github.com/botswana-harvard/ambition-visit-schedule.git@develop#egg=ambition_visit_schedule
git+https://github.com/botswana-harvard/edc-appointment.git@develop#egg=edc_appointment
git+https://github.com/botswana-harvard/edc-base.git@develop#egg=edc_base
git+https://github.com/botswana-harvard/edc-constants.git@develop#egg=edc-constants
git+https://github.com/botswana-harvard/edc-device.git@develop#egg=edc-device
git+https://github.com/botswana-harvard/edc-identifier.git@develop#egg=edc-identifier
git+https://github.com/botswana-harvard/edc-lab.git@develop#egg=edc_lab
git+https://github.com/botswana-harvard/edc-metadata.git@develop#egg=edc-metadata
git+https://github.com/botswana-harvard/edc-protocol.git@develop#egg=edc-protocol
git+https://github.com/botswana-harvard/edc-reference.git@develop#edc_reference
git+https://github.com/botswana-harvard/edc-registration.git@develop#egg=edc_registration
git+https://github.com/botswana-harvard/edc-timepoint.git@develop#egg=edc_timepoint
git+https://github.com/botswana-harvard/edc-sync-files@develop#egg=edc_sync_files
git+https://github.com/botswana-harvard/edc-sync@develop#egg=edc_sync
git+https://github.com/botswana-harvard/edc-visit-schedule.git@develop#egg=edc_visit_schedule
git+https://github.com/botswana-harvard/edc-visit-tracking.git@develop#egg=edc_visit_tracking
git+https://github.com/erikvw/django-crypto-fields.git@develop#django-crypto-fields
git+https://github.com/erikvw/django-revision.git@develop#django-revision
